body{
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-top: 50px;
	padding-bottom: 20px;
}
.page-border{
	z-index: 3;
	position: fixed;
	right: 0;
	left: 0;
	height: 20px;
	background-color: #6bc2cf;
}
.top.page-border{
	top: 0;
}
.bottom.page-border{
	bottom: 0;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: text-top;
}
.navbar .navbar-header{
	float: none;
}
.navbar .navbar-nav li{
	display: inline-block;
}

.navbar{
	text-align: center;
}
.navbar-default .navbar-nav>li>a{
	font-weight: 600;
	font-size: 1.2em;
	text-transform: uppercase;
	cursor: pointer;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #6bc2cf !important;
}

.overlaytile{
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	background: rgba(107, 194, 207, 0.9);
	opacity: 0;
	width: 100% !important;
	top: 0px;
	position: absolute;
	height: 100% !important;
	text-align: center;
	z-index: 9;

}
.grid-item:hover .overlaytile{
	opacity: 1;
}
.overlaytile .title{
	text-transform: uppercase;
	padding: 0px;
	text-align: center;
	display: table;
	color: #fff;
	margin: auto;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	top: 45% !important;
	width: auto !important;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	display: table;
}

.overlaytile .tags{
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 0px;
	text-align: center;
	display: table;
	margin: auto;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	top: 63% !important;
	width: auto !important;
	line-height: 1.5;
	text-align: center;
	display: table;
}
.description{
	display: none;
}
.grid-item{
	margin: 0px 2% 4% 2%;
}
.grid-item img{
	max-width: 400px;
	max-height: 400px;

}
.grid{
	margin: 50px;
}
.modal-body{
	text-align: 
}
.modal-body .title{
	letter-spacing: 0.05em;
	display: inline-block;
	border-bottom: 2px solid black;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0px auto 30px;
}
.modal-body .descr{
	line-height: 28px;
}
.modal-body .embed{
	margin: 40px 10px 20px;
}

/*.modal-body .embed iframe{
	border: 0px;
}
*/
.modal-body{
	padding: 20px;
	text-align: center;
}

.header-modal:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.header-modal .modal-dialog{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

#clients .descr img{
	max-height: 120px;
	max-width: 120px;
	width: auto;
	height: auto;
	padding: 10px;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none; 
	-o-filter: none;
	filter: none;
	
}

#clients .descr img:hover{
	-webkit-filter: drop-shadow(0px 0px 10px #256974);
	-moz-filter: drop-shadow(0px 0px 10px #256974);
	-ms-filter: drop-shadow(0px 0px 10px #256974);
	-o-filter: drop-shadow(0px 0px 10px #256974);
	filter: drop-shadow(0px 0px 10px #256974);	
}

